/* Variables */
:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #F9F9F9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.ant-typography {
  color: var(--text-primary);
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--pink);
}

a:hover {
  color: var(--light-blue) !important;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
  margin-left: 200px; /* Can be adjusted or removed based on the layout in components */
  padding: 20px;
  background-color: var(--bgPrimary);
}

@media screen and (max-width: 800px) {
  .main {
    margin-left: 0;
    margin-top: 60px; /* Adjust for mobile navbar height if applicable */
  }
}

/* Footer */
.footer {
  background-color: #001529; /* Matches the sidebar color */
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.footer a {
  color: white;
  margin: 0 10px;
}

.footer a:hover {
  color: var(--pink);
}

/* Utility Classes for Consistent Styling */
.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
